<html>

<head>
	<title>Charter Authority</title>
</head>

<body>
	<h1>Charter Authority</h1>
	<p>Welcome to town, partner!</p>
	<p>We get a number of weary travelers passing through town, so we've set up a system to help you get through town
		and back on the trail efficiently.</p>
	<p>Here at the charter authority, we issue trading charters to travelers, allowing you to use the following
		services:</p>
	<ul>
		<li><b>Token Exchange</b> - Exchange your gold and items for tokens, the currency of the frontier.</li>
		<li><b>Livery</b> - Buy and sell animals to help you on your way.</li>
		<li><b>Wagon Repair</b> - Repair your wagon to keep it in good shape.</li>
		<li><b>General Store</b> - Purchase the supplies you need to keep going.</li>
		<li><b>Bandit Negotiation</b> - Negotiate with the bandits to ensure your safety on the trail. <i>Note: This is
				a dangerous service, and may result in your arrest.</i></li>
		<li><b>Inn</b> - Rest and recover from your journey.</li>
		<li><b>Bank</b> - Convert your remaining tokens back to gold.</li>
	</ul>
	<p><a href="/start">Click here to get started!</a></p>
</body>

</html>